//- 基础Layout, 带有样式表的链接, 可以自定义title和body内容
//
   Created by ChenLetian on 16/4/25.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
