//
   Created by ChenLetian on 16/4/24.

extends IndexLayout

block loadParams
    -
        args = JSON.parse(args);
        title = args.title;
        username = args.username;
        groupList = args.groupList;
        talkingList = args.talkingList;
        console.log(args);
block global_nav
    include Nav
block PC_left
    include LeftPanel
block PC_main
    include WantToSaySomething
    include Talkings
block PC_right
    p= "我是右边"
block footer
    p= "我是footer"