//
   Created by ChenLetian on 16/4/24.

extends IndexLayout

block global_nav
    include nav

block PC_left
    p= "我是左边"
block PC_main
    p= "我是中间"
block PC_right
    p= "我是右边"
block footer
    p= "我是footer"