//
   Created by ChenLetian on 16/4/24.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.global_whole
            div.global_nav
                div.center1000
                    block global_nav
            div.global_main.center1000
                div.PC_left.transparent_box
                    block PC_left
                div.PC_main.transparent_box
                    block PC_main
                div.PC_right.transparent_box
                    block PC_right
            div.global_footer
                block footer
