//
   Created by ChenLetian on 16/4/25.

.logo_large
    a.no_decoration.always_black(href="/")
        h1= title
.search
    span.placeholder searching
    input
.right_position
    div.nav_list
        ul.nav_list
            li.horizontal index
            li.horizontal= username
    div.nav_list
        ul.nav_list
            li.horizontal 未读消息
            li.horizontal 设置