//- 用户信息小框的页面
//
   Created by ChenLetian on 16/4/27.

div.person_info_box.background_dark_blue
    div.image_box
        div.thumb_image
            img(src="../images/default_avatar.jpg")
    div.inner_info_box
        div.name_box
            a(href="/").color_light_gray.font-size18= username
        ul.user_attention.font-size18
            li
                a.color_light_gray(href="/")
                    strong 68
                    span.font-size12 关注
            li
                a.color_light_gray(href="/")
                    strong 11
                    span.font-size12 关注者
            li
                a.color_light_gray(href="/")
                    strong 19
                    span.font-size12 说说