//- 用户信息小框的页面
//
   Created by ChenLetian on 16/4/27.

div.person_info_box
    div.image_box
        div.thumb_image
            img(src="/images/demo_thumb_image.jpeg")
    div.inner_info_box
        div.name_box
            a(href="/")= username
        ul.user_attention
            li
                a(href="/")
                    strong 68
                    span 关注
            li
                a(href="/")
                    strong 11
                    span 关注者
            li
                a(href="/")
                    strong 19
                    span talkings