//- Talkings的页面
//
   Created by ChenLetian on 16/4/25.

div.talking_whole
    each talking in talkingList
        div.talking.background_dark_blue
            div.thumb_image
                img(src=talking["thumbImg"])
            div.detail
                div.username.color_light_gray
                    a.no_decoration.always_inherit= talking["username"]
                div.info.font-size12= talking["timestamp"]
                div.text.color_light_gray= talking["text"]
            div.clear