//- Want To Say Something的页面
//
   Created by ChenLetian on 16/4/24.

div.say_something
    div.title
        span.big W
        span.small ant to
        span.big  S
        span.small ay something
        span.big ?
    div.input
        textarea
    div.func_area
        div.func_kind
            a expression
            a image
            a video
            a topic
        a.submit 发布
        div.clear
