//- Want To Say Something的页面
//
   Created by ChenLetian on 16/4/24.

div.say_something.background_dark_blue
    div.title
        span.font-size25 W
        span.font-size18 ant to
        span.font-size25  S
        span.font-size18 ay something
        span.font-size25 ?
    div.input
        textarea.color_light_gray.font-size18
    div.func_area
        div.func_kind
            a expression
            a image
            a video
            a topic
        a.submit 发布
        div.clear
